# Ignore all .qodo files recursively
**/*.qodo
**/*.vscode

# macOS metadata
.DS_Store

# Compiled binary/object/ELF files
*.bin
*.o
*.elf
*.iso
*.env

# Ignore bin and build folders recursively
src/fonts/
bin/
build/
out/
mnt/
**/bin/
**/build/
.venv/
external/